body {
  background-color: rgb(252, 252, 241);
}

h1,
h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

article {
  font-size: 0.7rem;
  text-align: justify;
  text-indent: 0.8em;
}

ul {
  list-style: square;
}

table,
th,
td {
  border-style: solid;
  border-color: red;
}

table {
  border-collapse: separate;
  border-spacing: 1em 2em;
}
